@media only screen and (max-width: 768px), (max-device-width: 768px){

body{
	margin: 0;
	padding: 0;
	min-width: 100px;
	background-color: white;
	overflow-y: auto;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.fixedSection{
	position: fixed;
	margin-left: auto;
	margin-right: auto;
}

.sectionTransition{
	transition: 0.5s;
	opacity: 0;
}

.headerContainer{
	background-color: #f2f2f2;
	border: solid 1px #e6e6e6;
	padding: 20px;
	margin: 0 0 22px 0;
}

.row{
	margin: 0 auto;
}

.headerAlign{
	width: auto;
	height: auto;
	display: block;
	padding: 0;
}

.titleContainer{
	padding: 0 15px 0 15px;
}

.titleContainer h2{
	font-size: 37px;
	color: #222222;
	margin: 14px 0 14px 0;
	text-align: center;
}

.optionsContainer{
	display: flex;
	width: auto;
	padding: 0 15px 0 15px;
}

.optionsContainer input,
.optionsContainer ul li div{
	color: #e6e6e6;
	background-color: #4d4d4d;
	border: solid 1px #333333;
	text-decoration: none;
	padding: 0 20px 0 20px;
}

.optionsContainer input:hover{
	background-color: #333333;
}

.optionsContainer img{
	margin-top: auto;
	margin-bottom: auto;
}

#resolutionHigh{
	display: none;
}

.optionsAlign{
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: auto;
	padding: 0;
}

.optionsAlign li{
	display: block;
	height: 40px;
}

.optionsAlign li img{
	padding: 6px 10px 6px 10px;
}

.optionsAlign li img:hover{
	background-color: rgb(0, 0, 0, 0.1);
}

.optionsAlign li input,
.optionsAlign li div{
	font-size: 14px;
	font-weight: normal;
	font-family: sans-serif;
	padding: 0 20px;
	line-height: 38px;
	width: 100%;
}

.rightAlign{
	float: right;
}

.centerAlign{
	margin: 0 auto 0 auto;
}

.button{
	width: 100%;
	background-color: #2ba6cb;
	border: 1px solid #1e728c;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 10px 5px 11px;
}

.button:hover{
	background-color: #2284a1;
}

.button:disabled{
	opacity: 0.6;
	cursor: inherit;
	background: #2ba6cb;
}

.button.autoSize{
	width: auto;
}

.button.active{
	background-color: #2284a1;
}

.buttonsGroup{
	display: flex;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.buttonsGroup2{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.mainButtonsAlign{
	margin: 0 auto 0 auto;
	display: block;
}

.row h1{
	text-align: center;
	font-weight: bold;
	font-size: 95px;
	font-family: sans-serif;
	color: #222222;
	margin:0;
}

.functionButtonStyle{
	color: white;
	font-size: 17px;
	font-weight: bold;
	padding: 15px 30px 16px;
	cursor: pointer;
}

.buttonPadding{
	padding: 0 15px 0 15px;
}

.startButton{
	background-color: #5da423;
	border: 1px solid #396516;
	width: 100%;
}

.startButton:hover{
	background-color: #457a1a;
}

.stopButton{
	background-color: #c60f13;
	border: 1px solid #7f0a0c;
	width: 100%;
}

.stopButton:hover{
 background-color: #970b0e;
}

.resetButton{
	background-color: #e9e9e9;
	border: 1px solid #c3c3c3;
	color: #1d1d1d;
	width: 100%;
	margin-bottom: 2rem;
}

.resetButton:hover{
	background-color: #d0d0d0;
}

.helpBox{
	display: block;
	justify-content: center;
	width: auto;
}

.shortcuts,
.settingsText{
	display: block;
	width: 80%;
	background: #f2f2f2;
	margin: 0 5% 10% 5%;
	padding: 20px;
	border: solid 1px #e6e6e6;
}

.shortcuts h5,
.settingsText h5{
	font-size: 17px;
}

.shortcuts ul{
	margin-left: -20px;
}

.shortcuts li,
.settingsText p{
	font-size: 14px;
	line-height: 1.6;
}

/* Overlay and config styles */

.overlay-box,
.overlay-box2,
.overlay-box3{
	display: none;
	position: absolute;

 	width: 100%;
 	min-height: 100%;
 	height: auto;
 	background-color: rgba(0,0,0,0.3);
 	top: 0;
 	align-items: center;
 	justify-content: center;	
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.overlay-box.active,
.overlay-box2.active,
.overlay-box3.active{
	display: flex;
}

.content-outside{
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 4;
	position: fixed;
	cursor: pointer;
}

.content-box,
.content-box2,
.content-box3{
	transition: 0.7s;
	margin-top: -1200px;
	margin-bottom: auto;
	min-width: 320px;
	width: 80%;
	height: auto;
	background-color: white;
	z-index: 5;
	padding: 30px 0 30px 0;
	bottom: 0;
}

.content-box :is(h2, h3, p),
.content-box2 :is(h2, h3, p),
.content-box3 :is(h2, .pomoGoals){
	padding-right: 30px;
	padding-left: 30px;
}

.content-box2 li{
	padding-right: 30px;
}


.content-box3{
	width: 55%;
}

.content-box3 .logtable{
	width: auto;
}

.content-box3 .overflowTable{
	overflow-x: auto;
	overflow-y: auto;
	margin-right: 30px;
	margin-left: 30px;
	max-height: 450px;
}

.content-box3 .button{
	margin-right: 30px;
	margin-left: 30px;
}


.content-box.transition,
.content-box2.transition,
.content-box3.transition{
	margin-top: 0 !important; 
	transition: 0.5s;
	transition-timing-function: linear;
	
}

.content-box .closeContainer,
.content-box2 .closeContainer,
.content-box3 .closeContainer {
	cursor: pointer;
	color: #aaa;
	margin-top: -30px ;
	margin-right: 5px;
	font-weight: bold;
	font-family: cursive;
	text-shadow: 0 -1px 1px rgb(0 0 0 / 60%);
	font-size: 1.5rem;
}

.content-box3 h2{
	font-size: 37px;
	color: #222222;
	font-weight: bold;
	font-style: normal;
}

.content-box h2{
	font-size: 37px;
	color: #222222;
	margin: 0;
	margin-bottom: 14px;
}

.content-box h3{
	font-size: 27px;
	color: #222222;
	margin-top: 0;
	margin-bottom: 14px;
}

.content-box p{
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 17px;
}

.content-box small{
	font-size: 60%;
	color: #6f6f6f;
}

.content-box select{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	margin-bottom: 14px;
	cursor: pointer;
}

.content-box .columnFlex{
	display: flex;
	width: 85%;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

.content-box .columnFlex .columnBlock{
	display: block;
	padding-right: 15px;
}

.content-box .inputButton{
	display: block;
	text-align: center;
}

.content-box .inputButton input{
	width: auto;
	padding: 10px 20px 11px;
	background-color: #2ba6cd;
	color: white;
	border: 1px solid #1e728c;
	font-size: 14px;
	line-height: 1.1;
	font-weight: bold;
	cursor: pointer;
}

.content-box2 p,
.content-box2 ul li{
	line-height: 1.6;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #222222;
}

.columnBlock label{
	font-size: 14px;
	color: #4d4d4d;
}

.columnBlock input{
	width: 100%;
	padding: 6px;
	border: 1px solid #cccccc;
	color: rgb(0, 0, 0, 0.75);
	margin-bottom: 12px;
}

.smallInput{
	max-width: 50px;
	width: 36px;
	padding: 6px;
	font-size: 14px;
}

.pomoGoals{
	display: inline-flex;
}

.pomoGoals p{
	margin-right: 16px;
}

.pomoGoalsContainer{
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

.pomoGoalsCircle{
	width: 20px;
	height: 20px;
	border: 1px solid green;
	border-radius: 50%;
	background: white;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pomoGoalsCircle.full{
	background: green;
}

.logTable{
	height: auto;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.logTable tr{
	display: table-row;
	background: #f9f9f9;
}

.logTable tr:nth-child(odd){
	background: white;
}

.logTable tr:nth-child(even){
	background: #f9f9f9;
}

.logTable th{
	display: table-cell;
	font-weight: bold;
	vertical-align: middle;
	font-size: 14px;
	background: white;
	}

.logTable td{
	display: table-cell;
	vertical-align: middle;
	padding: 9px 10px;
	font-size: 14px;
	color: #333;
	border: none;
}

.logTable input{
	display: block;
	width: 90%;
	height: 32px;
	margin: 0;
	padding: 6px;
	border: 1px solid #cccccc;
	font-size: 14px;
}

.logTable input:focus{
	background: #f2f2f2;
}

.margin{
	margin-bottom: 24px;
}

}