body{
	margin: 0;
	padding: 0;
	background-color: white;
}

.headerContainer{
	background-color: #f2f2f2;
	border: solid 1px #e6e6e6;
	padding: 20px;
	margin: 0 0 22px 0;
}

.row{
	width: 940px;
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto;
}

.headerAlign{
	width: 940px;
	max-width: 100%;
	min-width: 768px;
	display: flex;
	margin: 0 auto;
	padding: 0;
}

.titleContainer{
	width: 25%;
	padding: 0 15px 0 15px;
}

.titleContainer h2{
	font-size: 37px;
	font-family: "Helvetica";
	color: #222222;
	margin: 14px 0 14px 0;
}

.optionsContainer{
	width: 75%;
	padding: 0 15px 0 15px;
}

.optionsContainer input{
	color: #e6e6e6;
	background-color: #4d4d4d;
	border: solid 1px #333333;
	text-decoration: none;
	padding: 0 20px 0 20px;
}

.optionsContainer input:hover{
	background-color: #333333;
}

.optionsContainer img{
	margin-top: auto;
	margin-bottom: auto;
}

.optionsAlign{
	margin-top: 20px;
	margin-bottom: auto;
}

.optionsAlign li{
	display: block;
}

.optionsAlign li img{
	padding: 6px 10px 6px 10px;
}

.optionsAlign li img:hover{
	background-color: rgb(0, 0, 0, 0.1);
}

.optionsAlign li input{
	font-size: 14px;
	font-weight: normal;
	font-family: sans-serif;
	padding: 0 20px;
	line-height: 38px;
}

.rightAlign{
	float: right;
}

.centerAlign{
	margin: 0 auto 0 auto;
}

.button{
	width: 100%;
	background-color: #2ba6cb;
	border: 1px solid #1e728c;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 10px 20px 11px;
}

.button:hover{
	background-color: #2284a1;
}

.button.active{
	background-color: #2284a1;
}

.buttonsGroup{
	display: flex;
	width: 83.3%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.mainButtonsAlign{
	margin: 0 auto 0 auto;
	display: flex;
}

.row h1{
	text-align: center;
	font-weight: bold;
	font-size: 95px;
	font-family: sans-serif;
	color: #222222;
	margin:0;
}

.functionButtonStyle{
	color: white;
	font-size: 17px;
	font-weight: bold;
	padding: 15px 30px 16px;
	cursor: pointer;
}

.buttonPadding{
	padding: 0 15px 0 15px;
}

.startButton{
	background-color: #5da423;
	border: 1px solid #396516;
}

.startButton:hover{
	background-color: #457a1a;
}

.stopButton{
	background-color: #c60f13;
	border: 1px solid #7f0a0c;
}

.stopButton:hover{
 background-color: #970b0e;
}

.resetButton{
	background-color: #e9e9e9;
	border: 1px solid #c3c3c3;
	color: #1d1d1d;
}

.resetButton:hover{
	background-color: #d0d0d0;
}

/* Overlay and config styles */

.overlay-box{
	display: none;
	position: fixed;

 	width: 100%;
 	height: 100%;

 	background-color: rgba(0,0,0,0.3);
 	top: 0;
 	align-items: center;
 	justify-content: center;
 	overflow-y: scroll;	
}

.overlay-box.active{
	display: flex;
}

.content-outside{
	width: 100%;
	height: 100%;
	z-index: 4;
	position: fixed;
	cursor: pointer;
}

.content-box{
	margin-top: 300px;
	margin-bottom: 0;
	width: 36%;
	height: auto;
	background-color: white;
	z-index: 5;
	padding: 30px;
}

.content-box h2{
	font-size: 37px;
	font-family: sans-serif;
	color: #222222;
	margin: 0;
	margin-bottom: 14px;
}

.content-box h3{
	font-size: 27px;
	font-family: sans-serif;
	color: #222222;
	margin-top: 0;
	margin-bottom: 14px;
}

.content-box p{
	font-size: 14px;
	font-family: sans-serif;
	margin-top: 0;
	margin-bottom: 17px;
}

.content-box small{
	font-size: 60%;
	color: #6f6f6f;
}

.content-box select{
	width: 100%;
	margin-bottom: 14px;
	cursor: pointer;
}

.content-box .columnFlex{
	display: flex;
	margin-bottom: 10px;
}

.content-box .columnFlex .columnBlock{
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}

.content-box .inputButton input{
	width: auto;
	padding: 10px 20px 11px;
	background-color: #2ba6cd;
	color: white;
	border: 1px solid #1e728c;
	font-size: 14px;
	font-family: sans-serif;
	line-height: 1.1;
	font-weight: bold;
	cursor: pointer;
}

.columnBlock label{
	font-size: 14px;
	font-family: sans-serif;
	color: #4d4d4d;
}

.columnBlock input{
	width: 100%;
	padding: 6px;
	border: 1px solid #cccccc;
	color: rgb(0, 0, 0, 0.75);
	margin-bottom: 12px;
}

.smallInput{
	max-width: 50px;
	width: 36px;
	padding: 6px;
	font-size: 14px;
}


@media (max-width: 800px){

}